.App {
  text-align: center;
  display: inline-flex;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h2 {
  text-align: center;
}

.column{
  width: 45%;
  margin: 0 auto;
  border: 1px solid black;
  height: 50vh;
  /* background-image: url('https://tshirt-image.tshirtxy.com/styles/flexslider_full/s3/tshirt-image-new/main/disaster-artist-t-shirt-for-men-oh-hi-mark-tommy-wiseau-tee-short-sleeve-225251.jpg?yU43VH1OhdNnMiGnh_gdfYaG7qfFG0pA&itok=fO0HZ8s4'); */
  
  text-align: left;
  padding: none;
  
}

img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  
}

.column:last-child{
  background: black;
  color: white;
}